.box{
    margin: 1em auto;
    padding: 1em;
    width: 50%;
    border: 1px solid #a9a9a9;
    background-color: #fff;
    box-shadow: 1.5px 1.5px 2px #696969;
}

.bold{
    font-weight: bold;
    display: inline;
}

.name{
    color: darkgreen;
    display: inline;
}

.box3 {
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: snow;  /* 背景色 */
    width: 20em;             /* 横幅 */
    height: 15px;           /* 高さ */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */
    margin: 0 auto;
}
.box4 {
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: snow;  /* 背景色 */
    width: 20em;             /* 横幅 */
    height: 120px;           /* 高さ */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */
}
.box5 {
    width: 30em; 
    border: 2px solid #0a0;
}

.button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : darkgreen;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  }
  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
  }